<style>        
nav {
    background-color: #043a33;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}
</style>

<nav>
  <a href="/">Home</a>
  <a href="/display/">Properties</a>
  <a href="/display/">Find Partner</a>
  <a href="/contact/">Contact Us</a>
  <a href="/payment">Payment</a>
  <a href="/signup">Login/Register</a>
</nav>
<style>
input[type="text"],
        input[type="button"] {
            padding: 10px; 
            font-size: 16px; 
            border: none; 
            border-radius: 5px; 
            margin-bottom: 10px; 
            transition: transform 0.3s ease; /* Add transition for smoothness */
        }
.navi {
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
@media only screen and (max-width: 600px) {
    /* Mobile styles here */
    nav {
        padding: 10px;
        
    }
    nav a {
        margin: 5px;
        
    }
    .navi {
        font-size: 40px;
    }
    /* Add other styles for smaller screens */
}


</style>
<div class="navi" style="text-align: center; margin-top: 50px;">
        <span style="color: rgb(0, 125, 147);">Rite</span><span style="color: rgb(201, 137, 0);">Mates</span>
</div>

